<html>
<head>
    <title>Node.js Example</title>  
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<div class="navbar">

        <div class="logo">
            <a href="/"><img src="image.png" alt="Logo"/></a> 
        </div>

        <div class="submenu">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>

        <div class="search">
            <input type="text" placeholder="search..">
        </div>

        <div class=""></div>
</div>
</body>
</html>